.feature {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: white;
  border-radius: var(--border-radius);
  border: var(--border);
  box-sizing: border-box;
  height: 100%;

  .icon {
    order: 1;
    margin-bottom: 0.75rem;
    width: 24px;
    height: 24px;
  }

  .title {
    order: 2;
    margin-bottom: 0.25rem;
  }
  
  .description {
    order: 3;
  }
}