.home {
  padding: 3rem var(--horizontal-page-padding) 3.5rem;
  text-align: center;

  .title {
    font-size: 3rem;
    color: var(--text-color);
  }

  .description {
    font-size: 2rem;
    color: var(--additional-text-color);
  }
}

.getStarted {
  padding: 4rem var(--horizontal-page-padding);
  text-align: center;

  .title {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 0.75rem;
  }

  .link {
    display: inline-block;
    font-size: 1.25rem;
    color: white;
    background-color: var(--text-color);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: opacity var(--base-transition);

    &:hover {
      opacity: var(--hover-opacity);
    }
  }
}
